{% extends 'core/base.html' %}
{% block content %}
<div class=' container mt-5'>
    <h1 class="text-white m5 border-bottom" >Services</h1>
    <div class='row text-center text-white mb-5 ' >
        <div class='col-sm-4'>
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-solid fa-compass-drafting fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
    </div> 

    <div class='row text-center text-white mb-5 ' >
        <div class='col-sm-4'>
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-solid fa-compass-drafting fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
    </div> 

    <div class='row text-center text-white mb-5 ' >
        <div class='col-sm-4'>
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-solid fa-compass-drafting fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
        <div class='col-sm-4'>
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="descr">Django Resume Project from Development to Deployment and collectstatic in Django</p>
        </div>
    </div> 
</div>

{% endblock content %}
